<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spark Components Playground</title>
    <!-- Output when SSI design-system token is called for Vera&John COM -->
    <link class="spark-tokens" href="http://localhost:8085/fragment/design-system/assets/tokens/boabet.css" rel="stylesheet"/>
    
    <!----------------------------------------------------------->
    <!--
    SSI output of design-system components / resides in webfront
    <script class="spark-components" type="importmap">{"imports":
      {
        "@spark/components/button":"http://localhost:8085/fragment/design-system/assets/components/button/button.js",
        ...
      }
    }</script>
    
    -----------------------------------------------------------
    
    Fragment usage:
    <spk-button size="l">Large Button</spk-button>
    <script type="module">
      import '@spark/components/button';
    </script>
    -->
    
    
    <script class="spark-components" type="module" src="../dist/spark.js" ></script>
</head>
<body>
    <form>
        <spk-checkbox required label="must be check and required"></spk-checkbox>
        <spk-button type="submit">submit</spk-button>
    </form>
</body>
</html>
